@use '../shared-styles/index' as *;

:host {
  display: block;
  /* Chrome, Safari, Edge */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
    &:invalid {
      box-shadow: none;
    }
  }

  label:not(:empty) + .nx-stepper__input-container,
  .nx-stepper__label:not(:empty) + .nx-stepper__input-container {
    margin-top: v(number-stepper-label-gap);
  }
}

:host input {
  padding: 0;
  align-self: center;
}

.nx-stepper__input-container {
  align-items: flex-end;
  display: flex;
}

.nx-stepper__label {
  display: flex;
  align-items: v(number-stepper-label-alignment);
  @include type-style(number-stepper-label);
}

.nx-stepper__control {
  width: v(number-stepper-small-control-width);
  height: v(number-stepper-small-control-height);
  min-height: v(number-stepper-small-control-height);
  font-size: v(number-stepper-small-control-font-size);
  margin: 0;
  padding: v(number-stepper-small-control-padding);
}

.nx-stepper__input {
  width: v(number-stepper-small-input-width);
  min-width: v(number-stepper-small-input-min-width);
  text-overflow: v(number-stepper-input-text-overflow);
  &:disabled {
    color: v(number-stepper-disabled-color);
    -webkit-text-fill-color: v(number-stepper-disabled-color);
    cursor: not-allowed;
  }

  &:read-only {
    cursor: default;
  }
}

.nx-stepper__input,
::ng-deep .nx-stepper__prefix,
::ng-deep .nx-stepper__suffix {
  @include type-style(number-stepper-small);
  color: v(number-stepper-color);
  background: 0 0;
  outline: 0;
  border: 0;
  text-align: center;
}

::ng-deep .nx-stepper__suffix {
  margin-left: v(number-stepper-suffix-horizontal-gap);
  align-self: center;
  :host-context([dir='rtl']) & {
    margin-left: initial;
    margin-right: v(number-stepper-suffix-horizontal-gap);
  }
}

::ng-deep .nx-stepper__prefix {
  margin-right: v(number-stepper-prefix-horizontal-gap);
  align-self: center;
  :host-context([dir='rtl']) & {
    margin-right: initial;
    margin-left: v(number-stepper-prefix-horizontal-gap);
  }
}

.nx-stepper__input-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: v(number-stepper-small-horizontal-gap);
  width: v(number-stepper-small-input-wrapper-width);
}

.nx-stepper__inner-wrapper {
  // IE11 height fix
  height: v(number-stepper-small-height);
  display: flex;
  align-items: baseline;
  border: v(number-stepper-input-border);
  border-radius: v(number-stepper-input-radius);
  padding: v(number-stepper-small-input-padding);
  width: v(number-stepper-small-inner-wrapper-width);
  cursor: text;
  &:focus-within {
    box-shadow: v(number-stepper-outline-focus-box-shadow);
  }
}

.nx-stepper__input-underline {
  width: 100%;
  margin-top: v(number-stepper-underline-margin);
  height: v(number-stepper-underline-height);
  background: v(number-stepper-underline-color);

  &--disabled {
    background: v(number-stepper-disabled-underline-color);
  }
}

:host.nx-stepper--big {
  .nx-stepper__control {
    width: v(number-stepper-large-control-width);
    padding: v(number-stepper-large-control-padding);
    min-height: v(number-stepper-large-control-height);
    margin-bottom: 0;
  }

  .nx-stepper__input {
    width: v(number-stepper-large-input-width);
    min-width: v(number-stepper-large-input-min-width);
  }

  .nx-stepper__input,
  ::ng-deep .nx-stepper__prefix,
  ::ng-deep .nx-stepper__suffix {
    @include type-style(number-stepper-large);
    height: v(number-stepper-large-line-height);
    padding: 0;
    margin-bottom: 0;
  }

  .nx-stepper__input-wrapper {
    width: v(number-stepper-large-input-wrapper-width);
    margin: v(number-stepper-large-horizontal-gap);
  }

  .nx-stepper__input-underline {
    margin-top: v(number-stepper-large-underline-margin-top);
  }

  .nx-stepper__inner-wrapper {
    // IE11 height fix
    height: v(number-stepper-large-height);
    width: v(number-stepper-large-inner-wrapper-width);
    padding: v(number-stepper-large-input-padding);
  }
}

:host.is-negative {
  .nx-stepper__label,
  ::ng-deep .nx-stepper__prefix,
  ::ng-deep .nx-stepper__suffix {
    color: v(negative);
  }

  .nx-stepper__input {
    color: v(negative);
  }

  .nx-stepper__input-underline {
    background: v(negative);
  }
}

:host.is-disabled {
  .nx-stepper__inner-wrapper {
    border: v(number-stepper-input-disabled-border);
  }
  .nx-stepper__input-underline {
    background: v(number-stepper-disabled-underline-color);
  }
  ::ng-deep .nx-stepper__prefix,
  ::ng-deep .nx-stepper__suffix {
    color: v(number-stepper-disabled-color);
  }
}

:host.is-error {
  .nx-stepper__input {
    color: v(danger);
  }
  .nx-stepper__inner-wrapper {
    border: v(number-stepper-input-error-border);
  }

  ::ng-deep .nx-stepper__prefix,
  ::ng-deep .nx-stepper__suffix {
    color: v(danger);
  }

  .nx-stepper__input-underline {
    background: v(danger);
  }
}

:host.read-only {
  .nx-stepper__input {
    color: v(number-stepper-readonly-color);
  }
  .nx-stepper__inner-wrapper {
    border: v(number-stepper-input-readonly-border);
    background-color: v(number-stepper-readonly-background-color);
  }
  ::ng-deep .nx-stepper__prefix,
  ::ng-deep .nx-stepper__suffix {
    color: v(number-stepper-readonly-color);
  }
}

:host.is-negative.read-only {
  .nx-stepper__input {
    color: v(number-stepper-negative-readonly-color);
  }

  .nx-stepper__inner-wrapper {
    background-color: v(number-stepper-negative-readonly-background-color);
  }

  ::ng-deep .nx-stepper__prefix,
  ::ng-deep .nx-stepper__suffix {
    color: v(number-stepper-negative-readonly-color);
  }
}

:host.is-resize {
  .nx-stepper__input-wrapper,
  .nx-stepper__inner-wrapper {
    width: auto;
  }
  .nx-stepper__input {
    width: auto;
  }
}

// high contrast fix
@media screen and (forced-colors: active) {
  button.nx-stepper__control:disabled {
    border-color: GrayText;
    color: GrayText;
    opacity: 1;
  }

  .nx-stepper__input {
    color: buttonText;

    &:disabled {
      color: GrayText;
      -webkit-text-fill-color: GrayText;
    }
  }

  ::ng-deep .nx-stepper__prefix,
  ::ng-deep .nx-stepper__suffix,
  :host.nx-stepper--big ::ng-deep .nx-stepper__prefix,
  :host.nx-stepper--big ::ng-deep .nx-stepper__suffix {
    forced-colors-adjust: none;
    color: CanvasText;
  }

  .nx-stepper__inner-wrapper {
    background: buttonFace;
  }

  .nx-stepper__input-underline,
  :host.is-negative .nx-stepper__input-underline {
    background: buttonText;
  }

  :host.is-disabled {
    .nx-stepper__input-underline {
      background: GrayText;
    }
    ::ng-deep .nx-stepper__prefix,
    ::ng-deep .nx-stepper__suffix {
      color: GrayText;
    }
  }
}

.error-spacing {
  margin-bottom: v(number-stepper-error-spacing-bottom);
}
