@use '../../shared-styles/index' as *;

.nx-calendar-content {
  margin: v(datefield-calendar-content-margin);
  height: calc(
    v(datefield-header-cell-height) + v(datefield-header-cell-border-bottom-width) + 6 *
      v(datefield-cell-size) + 5 * v(datefield-cell-border-top-width)
  );

  @include media-breakpoint-response(mobile) {
    margin: v(datefield-calendar-content-margin-mobile);
  }
}

.nx-calendar-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: v(datefield-calendar-controls-padding);
}

.nx-calendar-period-label {
  @include type-style(datefield-period-label);
  color: v(datefield-period-label-color);
  text-align: center;
}

.nx-calendar-view-controls {
  text-align: center;
}

.nx-calendar-change-view-button {
  margin: v(datefield-calendar-change-view-button-margin-top) 0 0 0;
}

.nx-calendar-change-view-button.cdk-keyboard-focused,
.nx-calendar-previous-button.cdk-keyboard-focused,
.nx-calendar-next-button.cdk-keyboard-focused {
  @include focus-style;
  border-radius: nx-border-radius(s);
}

// don't show inner dotted border on firefox
button::-moz-focus-inner {
  border: 0;
}
.nx-calendar-footer {
  text-align: v(datefield-calendar-footer-text-align);
  margin: v(datefield-calendar-footer-margin);
}
