@use '../../shared-styles/index' as *;

:host {
  position: relative;
  display: flex;

  // don't show inner dotted border on firefox
  &:active {
    outline: none;
  }

  &:hover {
    color: v(datefield-toggle-icon-hover-color);
  }
}

.nx-datepicker-toggle-button {
  color: inherit;
  margin: 0;

  // don't show inner dotted border on firefox
  &::-moz-focus-inner {
    border: 0;
  }
}

.default-icon {
  display: block;
  height: v(datefield-toggle-icon-size);
  width: v(datefield-toggle-icon-size);
}
