@use '../../shared-styles/index' as *;

// calc total width and height of calendar
$controls-height: calc(
  2 * v(datefield-period-label-line-height) + v(datefield-calendar-change-view-button-margin-top)
);

$calendar-content-min-height: calc(
  v(datefield-header-cell-height) + v(datefield-header-cell-border-bottom-width) + 6 *
    v(datefield-cell-size) + 5 * v(datefield-cell-border-top-width)
);

$calendar-min-height: calc(
  #{$controls-height} + v(datefield-calendar-content-margin-top) + #{$calendar-content-min-height} +
    v(datefield-calendar-padding-bottom) - v(datefield-panel-border-width)
);

$calendar-min-height-mobile: calc(
  #{$controls-height} + v(datefield-calendar-content-margin-top) + #{$calendar-content-min-height} +
    v(datefield-calendar-padding-bottom-mobile) - v(datefield-panel-border-width)
);

:host {
  background: v(datefield-panel-background-color);
  display: flex;
  flex-flow: column nowrap;
  box-shadow: v(datefield-panel-shadow);
  border: v(datefield-panel-border-width) solid v(datefield-panel-border-color);
  border-radius: v(datefield-panel-border-radius);
}

.nx-calendar-focus-trap {
  display: flex;
  flex-flow: column nowrap;
  max-height: 95vh;
  overflow-y: auto;
}

.nx-datepicker-header {
  padding: v(datepicker-header-padding);
  display: flex;

  @include media-breakpoint-response(mobile) {
    padding: v(datepicker-header-padding-mobile);
  }
}

.nx-datepicker-close {
  margin-left: auto;

  :host-context([dir='rtl']) & {
    margin-right: auto;
    margin-left: initial;
  }
}

.nx-datepicker-close.cdk-keyboard-focused {
  @include focus-style;
  border-radius: nx-border-radius(s);
}

nx-calendar {
  min-height: $calendar-min-height;

  @include media-breakpoint-response(mobile) {
    min-height: $calendar-min-height-mobile;
  }
}
