@use '../../shared-styles/index' as *;

.nx-calendar-table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

:host ::ng-deep .nx-calendar-body {
  .nx-calendar-body-today::after {
    bottom: calc(
      v(datefield-calendar-year-cell-margin-bottom) + v(datefield-cell-today-dot-margin-bottom)
    ) !important;
  }

  .nx-calendar-body-cell-content {
    min-width: v(datefield-cell-size);
    width: v(datefield-calendar-year-cell-width);
    margin: 0 v(datefield-calendar-year-cell-margin-horizontal)
      v(datefield-calendar-year-cell-margin-bottom);
    padding: 0 v(datefield-calendar-year-cell-padding-horizontal);

    @include media-breakpoint-response(mobile) {
      margin: 0 v(datefield-calendar-year-cell-margin-horizontal-mobile)
        v(datefield-calendar-year-cell-margin-bottom);
    }
  }

  tr .nx-calendar-body-cell:first-child .nx-calendar-body-cell-content {
    margin-inline-start: 0;

    @include media-breakpoint-response(mobile) {
      margin-inline-start: v(datefield-calendar-year-cell-margin-left-mobile);
    }
  }

  tr .nx-calendar-body-cell:last-child .nx-calendar-body-cell-content {
    margin-inline-end: 0;

    @include media-breakpoint-response(mobile) {
      margin-inline-end: v(datefield-calendar-year-cell-margin-left-mobile);
    }
  }
}
