@use '../../shared-styles/index' as *;

:host {
  width: 100%;

  &.nx-multi-stepper--vertical {
    @include media-breakpoint-up(medium) {
      display: flex;
    }

    .nx-progress-stepper__content[aria-expanded='false'] {
      width: 0;
    }

    .nx-multi-stepper__items {
      align-items: flex-start;
      flex-direction: column;
      max-width: 100%;
      margin: 0;
      margin-inline-end: v(multi-stepper-items-margin);
    }
    .nx-multi-stepper__group-items {
      flex-direction: column;
      max-width: 100%;
    }

    .nx-multi-stepper__group-label {
      transform: none;
      border-left: v(multi-stepper-line-height) solid transparent;
      padding-bottom: v(multi-stepper-vertical-group-label-padding-bottom);
      margin-left: v(multi-stepper-vertical-margin-start);
      padding-left: v(multi-stepper-vertical-group-label-gap);

      [dir='rtl'] & {
        margin-left: initial;
        padding-left: initial;
        margin-right: v(multi-stepper-vertical-margin-start);
        padding-right: v(multi-stepper-vertical-group-label-gap);
      }
    }

    .nx-multi-stepper__group:nth-child(n + 2) .nx-multi-stepper__group-label {
      padding-top: v(multi-stepper-vertical-group-label-padding-top);
      border-left-style: v(multi-stepper-vertical-group-line-style);
      border-left-color: v(multi-stepper-line-color);

      &.is-active {
        padding-top: calc(
          v(multi-stepper-vertical-group-label-padding-top) +
            v(multi-stepper-vertical-group-label-active-offset)
        );
        padding-bottom: calc(
          v(multi-stepper-vertical-group-label-padding-bottom) +
            v(multi-stepper-vertical-group-label-active-offset)
        );
        margin-top: calc(-1 * v(multi-stepper-vertical-group-label-active-offset));
        margin-bottom: calc(-1 * v(multi-stepper-vertical-group-label-active-offset));
        border-left-style: solid;
        border-left-color: v(multi-stepper-line-filled-color);
      }

      [dir='rtl'] & {
        border-left-style: none;
        border-right-style: v(multi-stepper-vertical-group-line-style);
        border-right-color: v(multi-stepper-line-color);

        &.is-active {
          border-left-style: none;
          border-right-style: solid;
          border-right-color: v(multi-stepper-line-filled-color);
        }
      }
    }
  }

  .labels-container {
    width: 100%;
    flex: 1 1 100%;
    display: flex;
    margin: 0 auto;
    vertical-align: top;
    align-self: flex-start;
    align-items: flex-start;

    @include media-breakpoint-down(small) {
      display: none;
    }

    .label {
      flex: 1 1 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      @include type-style(multi-stepper-step);
      color: v(multi-stepper-step-color);
      cursor: pointer;
      text-align: center;

      &:first-child {
        span {
          transform: v(multi-stepper-label-translate-left);

          :host-context([dir='rtl']) & {
            transform: v(multi-stepper-label-translate-right);
          }
        }
      }
      &:last-child {
        span {
          transform: v(multi-stepper-label-translate-right);

          :host-context([dir='rtl']) & {
            transform: v(multi-stepper-label-translate-left);
          }
        }
      }

      &.is-disabled {
        color: v(multi-stepper-step-disabled-color);
        cursor: not-allowed;
      }

      &.is-selected {
        font-weight: v(multi-stepper-label-selected-font-weight);
      }

      @media screen and (forced-colors: active) {
        color: buttonText;

        &.is-disabled {
          color: GrayText;
        }

        &:not(.is-disabled) {
          color: buttonText;
        }

        span {
          forced-color-adjust: none;
          background-color: buttonFace;
          border-radius: 4px;
          box-shadow: 0 0 0 2px buttonFace;
        }

        &.is-selected span {
          background-color: highlight;
          border-radius: 4px;
          box-shadow: 0 0 0 2px highlight;
          color: highlightText;
        }
      }
    }
  }
}

.nx-multi-stepper__items {
  display: flex;
  margin: 0 auto;
  align-items: center;

  @include media-breakpoint-down(small) {
    display: none;
  }
}

.nx-multi-stepper__group-items {
  display: flex;
}

.nx-multi-stepper__group {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-width: 100%;
}

.nx-multi-stepper__group-label {
  @include type-style(multi-stepper-group);
  color: v(multi-stepper-group-color);

  &.is-disabled {
    color: v(multi-stepper-group-disabled-color);
  }
}
