@use '../../shared-styles/index' as *;

:host {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: v(multi-stepper-padding-bottom);
  cursor: pointer;
  max-width: 100%;

  &:focus {
    outline: none;
  }

  &.cdk-keyboard-focused {
    .dot {
      @include focus-style;
    }
  }

  @media screen and (forced-colors: active) {
    .dot {
      border-color: buttonText;
    }

    .small-dot {
      background-color: buttonText;
    }
  }

  &.is-disabled {
    cursor: not-allowed;

    .dot {
      border-color: v(multi-stepper-dot-disabled-color);
    }

    @media screen and (forced-colors: active) {
      .label {
        color: GrayText;
      }

      .dot {
        border-color: GrayText;
      }
    }
  }

  &.is-completed:not(.is-disabled):not(.is-selected) {
    .dot {
      background-color: v(multi-stepper-dot-touched-color);
    }
  }

  &.nx-multi-step-item--vertical {
    flex: 0 0 auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

    .label-box {
      display: flex;
      align-items: center;
    }

    .label {
      position: static;
      transform: none;
      margin-left: v(multi-stepper-vertical-label-gap);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: left;
      min-width: 0;
      @include type-style(multi-stepper-step);

      [dir='rtl'] & {
        margin-right: v(multi-stepper-vertical-label-gap);
        margin-left: initial;
      }

      // This creates a hidden label with bold text, so the label will not jump when it's beeing hovered.
      &:before {
        content: attr(label);
        height: 0;
        overflow: hidden;
        display: block;
      }

      @media screen and (forced-colors: active) {
        forced-colors-adjust: none;
        background-color: buttonFace;
        border-radius: 4px;
        box-shadow: 0 0 0 2px buttonFace;
        color: buttonText;
      }
    }

    &.is-disabled .label {
      color: v(multi-stepper-step-disabled-color);

      @media screen and (forced-colors: active) {
        color: GrayText;
      }
    }

    &.is-selected .label {
      // still not themed because vertical and horizontal differ (horizontal does not get bold)
      font-weight: nx-font-weight(bold);

      @media screen and (forced-colors: active) {
        background-color: highlight;
        border-radius: 4px;
        box-shadow: 0 0 0 2px highlight;
        color: highlightText;
        forced-color-adjust: none;
      }
    }

    .line {
      border-top: 0;
      border-left-width: v(multi-stepper-line-height);
      border-left-style: v(multi-stepper-line-style);
      border-left-color: v(multi-stepper-line-color);
      height: v(multi-stepper-vertical-line-height);
      flex: 0 0 auto;
      margin-left: calc((v(multi-stepper-item-dot-size) - v(multi-stepper-line-height)) * 0.5);
      margin-top: v(multi-stepper-vertical-line-gap);
      margin-bottom: v(multi-stepper-vertical-line-gap);
      border-radius: v(multi-stepper-line-border-radius);
      [dir='rtl'] & {
        border-right-width: v(multi-stepper-line-height);
        border-right-style: v(multi-stepper-line-style);
        border-right-color: v(multi-stepper-line-color);
        margin-right: calc((v(multi-stepper-item-dot-size) - v(multi-stepper-line-height)) * 0.5);
        margin-left: initial;
        border-left: none;
      }
    }

    &.is-active .line {
      // 1px is to visually close the tiny gap to the dot
      border-left-style: solid;
      border-left-color: v(multi-stepper-line-filled-color);
      margin-top: v(multi-stepper-vertical-line-active-margin);
      margin-bottom: v(multi-stepper-vertical-line-active-margin);
      height: v(multi-stepper-vertical-line-active-height);

      [dir='rtl'] & {
        border-right-style: solid;
        border-right-color: v(multi-stepper-line-filled-color);
        border-left: none;
      }

      @media screen and (forced-colors: active) {
        border-color: CanvasText;
      }
    }

    &.is-last {
      flex: 0 0 auto;
    }
  }

  &:not(.nx-multi-step-item--vertical) {
    .line {
      border-top-width: v(multi-stepper-line-height);
      border-top-style: v(multi-stepper-line-style);
      border-top-color: v(multi-stepper-line-color);
      margin: 0 v(multi-stepper-horizontal-line-gap);
      position: absolute;
      left: calc(v(multi-stepper-item-dot-size) + v(multi-stepper-horizontal-line-gap));
      width: calc(
        100% - (v(multi-stepper-item-dot-size) + (v(multi-stepper-horizontal-line-gap) * 2))
      );
      transform: translateX(50%);
      top: calc(v(multi-stepper-item-dot-size) / 2 - v(multi-stepper-line-height) / 2);
      border-radius: v(multi-stepper-line-border-radius);
      [dir='rtl'] & {
        right: calc(v(multi-stepper-item-dot-size) + v(multi-stepper-horizontal-line-gap));
        left: auto;
        transform: translateX(-50%);
      }
    }

    &.is-active {
      .line {
        border-top-color: v(multi-stepper-line-filled-color);
        border-top-style: solid;
        margin: v(multi-stepper-line-active-margin);
        left: v(multi-stepper-line-active-offset);
        width: v(multi-stepper-line-active-width);

        [dir='rtl'] & {
          right: v(multi-stepper-line-active-offset);
          left: auto;
        }
      }
    }
  }

  &:not(:first-child)::before {
    content: '';
  }

  &.nx-multi-step-item--active {
    &::after {
      border-top-color: v(multi-stepper-line-filled-color);
      border-top-style: solid;
      border-image-source: none;
      transition: border-style 0.1s ease-in;
      margin: 0;
      left: v(multi-stepper-active-offset);
      width: v(multi-stepper-active-width);

      [dir='rtl'] & {
        right: v(multi-stepper-active-offset);
        left: auto;
      }
    }
  }
}

.label-box {
  outline: none;
  appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  max-width: 100%;
}

.label {
  position: absolute;
  top: v(multi-stepper-horizontal-label-top);
  text-align: center;
  color: v(multi-stepper-step-color);
  left: 0;
  width: 100%;

  :host-context([dir='rtl']) & {
    right: 0;
    left: auto;
  }
}

.dot {
  width: v(multi-stepper-item-dot-size);
  height: v(multi-stepper-item-dot-size);
  border-width: v(multi-stepper-dot-border-size);
  border-style: solid;
  border-color: v(multi-stepper-dot-touched-color);
  color: v(multi-stepper-dot-checkmark-color);
  background: v(multi-stepper-dot-background-color);
  border-radius: 50%;
  flex: 0 0 auto;
  position: relative;

  nx-icon {
    font-size: v(multi-stepper-icon-font-size);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    :host-context([dir='rtl']) & {
      right: 50%;
      left: auto;
      transform: translate(50%, -50%);
    }
  }
}

.small-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: v(multi-stepper-item-small-dot-size);
  height: v(multi-stepper-item-small-dot-size);
  border-radius: 50%;
  background-color: v(multi-stepper-dot-touched-color);

  :host-context([dir='rtl']) & {
    right: 50%;
    left: auto;
    transform: translate(50%, -50%);
  }

  @media screen and (forced-colors: active) {
    background-color: CanvasText;
  }
}
