<button
  type="button"
  class="nx-signal-button__button"
  [nxPopoverTriggerFor]="signalButtonPopover"
  [nxPopoverDirection]="popoverDirection"
  [nxPopoverScrollStrategy]="scrollStrategy"
  (nxPopoverShowChange)="_onActiveChange($event)"
  [class.is-active]="active"
  [attr.aria-label]="ariaLabel"
  [attr.aria-labelledby]="ariaLabelledby"
  nxPopoverTrigger="click"
  [disabled]="disabled"
>
  <nx-status-icon
    class="nx-signal-button__icon"
    [type]="_context"
    size="auto"
    aria-hidden="true"
  ></nx-status-icon>
</button>

<nx-popover #signalButtonPopover>
  <ng-content></ng-content>
</nx-popover>
