@use '../shared-styles/index' as *;

:host {
  display: block;

  .nx-code-input__field {
    @include type-style(code-input);
    color: v(code-input-color);
    margin-left: v(code-input-gap);
    text-align: center;
    border: v(code-input-border-width) solid v(code-input-border-color);
    outline: 0;
    caret-color: v(code-input-active-color);
    box-shadow: inset 0 calc(-1 * v(code-input-underline-width)) 0 0 v(code-input-color);
    //this is needed for the box-shadow to be visible on iOS
    -webkit-appearance: none;
    width: v(code-input-field-width);
    border-radius: v(code-input-border-radius);
    padding: 0;
    background: v(code-input-background-color);
    box-sizing: border-box;
    height: v(code-input-field-height);

    &:focus {
      color: v(code-input-active-text-color);
      border-color: v(code-input-focus-border-color);
      box-shadow:
        inset 0 calc(-1 * v(code-input-active-underline-width)) 0 0 v(code-input-active-color),
        v(code-input-focus-outline-box-shadow);
      background: v(code-input-focus-background-color);
    }
  }

  .nx-code-input__field:first-child {
    margin-left: 0;
  }

  .nx-code-input--field-with-gap {
    margin-left: v(code-input-group-gap);
  }

  &:focus {
    // This will ensure there is no second focus style shown in high contrast mode
    outline: none;
  }

  [dir='rtl'] & {
    .nx-code-input__field {
      margin-left: 0;
      margin-right: v(code-input-gap);
    }

    .nx-code-input__field:first-child {
      margin-right: 0;
    }

    .nx-code-input--field-with-gap {
      margin-right: v(code-input-group-gap);
    }
  }
}

:host.is-negative {
  .nx-code-input__field {
    caret-color: v(code-input-negative-color);
    box-shadow: inset 0 calc(-1 * v(code-input-underline-width)) 0 0 v(code-input-negative-color);
    color: v(code-input-negative-color);
    border-color: v(code-input-negative-border-color);
    background: v(code-input-negative-background-color);

    &:focus {
      box-shadow:
        inset 0 calc(-1 * v(code-input-active-underline-width)) 0 0 v(code-input-negative-color),
        v(code-input-focus-outline-box-shadow);
    }
  }
}

:host.has-error {
  &:not(.is-negative) {
    .nx-code-input__field {
      font-weight: nx-font-weight(bold);
      color: v(code-input-error-color);
      box-shadow: inset 0 calc(-1 * v(code-input-underline-width)) 0 0 v(code-input-error-color);
      border-color: v(code-input-error-border-color);

      &:focus {
        box-shadow:
          inset 0 calc(-1 * v(code-input-active-underline-width)) 0 0 v(code-input-error-color),
          v(code-input-focus-outline-box-shadow);
      }
    }
  }

  &.is-negative {
    .nx-code-input__field {
      font-weight: nx-font-weight(bold);
    }
  }
}

:host.is-disabled {
  cursor: not-allowed;

  .nx-code-input__field {
    cursor: not-allowed;
    color: v(code-input-disabled-color);
    box-shadow: inset 0 calc(-1 * v(code-input-underline-width)) 0 0 v(code-input-disabled-color);
    border-color: v(code-input-disabled-border-color);
    background: v(code-input-disabled-background-color);
  }
}

:host.is-disabled.is-negative {
  .nx-code-input__field {
    color: v(code-input-disabled-negative-color);
    box-shadow: inset 0 calc(-1 * v(code-input-underline-width)) 0 0
      v(code-input-disabled-negative-color);
    border-color: v(code-input-disabled-negative-border-color);
  }
}

// remove the number spinners on Mozilla and Chrome
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'],
.nx-code-input__field[type='number'] {
  -moz-appearance: textfield;
}

@media screen and (forced-colors: active) {
  .nx-code-input__field {
    border-bottom: 1px solid buttonText !important;
    box-shadow: inset 0 -1px 0 0 buttonText;

    &:focus {
      border-bottom: 2px solid highlight !important;
      box-shadow: inset 0 -2px 0 0 buttonText;
    }
  }

  :host.is-disabled {
    .nx-code-input__field {
      border-bottom: 1px solid GrayText !important;
      color: GrayText;
      box-shadow: inset 0 -1px 0 0 GrayText;
      opacity: 1;
    }
  }
}
