@use '../../shared-styles/index' as *;

:host {
  display: block;
}

.nx-single-step__infos {
  display: flex;
  @include type-style(single-stepper-step);
  color: v(single-stepper-step-color);
  margin-top: v(single-stepper-step-gap);
}

// We will show those parts only on larger screens
nx-progressbar {
  display: block;
}

@include media-breakpoint-down(small) {
  nx-progressbar,
  .nx-single-step__infos {
    display: v(progress-indicator-bar-mobile-display);
  }
}

.nx-single-step__next {
  margin-left: auto;

  :host-context([dir='rtl']) & {
    margin-right: auto;
    margin-left: initial;
  }

  @include media-breakpoint-down(small) {
    display: none;
  }
}
