@use '../../shared-styles/index' as *;
:host {
  padding: v(notification-panel-padding);
  display: flex;
  flex-direction: column;
  background-color: v(notification-panel-background-color);
  max-height: 740px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  box-shadow: v(notification-panel-shadow);
  border-radius: v(notification-panel-border-radius);
  &:focus {
    outline: none;
  }
}

::ng-deep nx-notification-header {
  display: flex;
  justify-content: space-between;
  padding-top: v(notification-panel-header-padding-top);
  padding-bottom: v(notification-panel-header-padding-bottom);
  padding-left: v(notification-panel-header-padding-horizontal);
  padding-right: v(notification-panel-header-padding-horizontal);
  margin-left: v(notification-panel-header-margin-horizontal);
  margin-right: v(notification-panel-header-margin-horizontal);
  &:first-child {
    padding-top: 0;
    border-bottom: 1px solid v(notification-panel-header-border-color);
  }
}
