@use '../../shared-styles/index' as *;

:host {
  display: flex;
  flex-direction: column;
  background-color: v(notification-panel-item-unread-background-color);
  padding: v(notification-panel-item-padding);
  margin: 0 v(notification-panel-item-margin-horizontal);

  &.nx-notification-item--read {
    background-color: v(notification-panel-item-read-background-color);
  }

  &:focus {
    outline: none;
  }

  &.cdk-keyboard-focused {
    @include focus-style-inset;
  }
}

::ng-deep {
  nx-notification-item-metadata {
    font: v(notification-panel-item-metadata-font);
    letter-spacing: v(notification-panel-item-metadata-letter-spacing);
    margin-bottom: v(notification-panel-item-metadata-margin-bottom);
    display: flex;
    align-items: center;
    color: v(notification-panel-item-secondary-color);
  }

  nx-notification-item-content {
    font: v(notification-panel-item-content-font);
    color: v(notification-panel-item-primary-color);
  }

  nx-notification-item-actions {
    font: v(notification-panel-item-actions-font);
    display: flex;
    justify-content: space-between;
    padding-top: v(notification-panel-item-actions-padding-top);
  }
}

// Hover and active styles for clickable item
:host(.nx-notification-item--clickable) {
  cursor: pointer;
  &:hover {
    background-color: v(notification-panel-item-unread-hover-background-color);
  }

  &:active {
    background-color: v(notification-panel-item-unread-active-background-color);
  }

  &.nx-notification-item--read {
    &:hover {
      background-color: v(notification-panel-item-read-hover-background-color);
    }

    &:active {
      background-color: v(notification-panel-item-read-active-background-color);
    }
  }
}
